#wpadminbar .quicklinks .menupop ul li.qm-true>a{color:#8c8 !important}#wpadminbar .quicklinks .menupop ul li.qm-true > a:focus, #wpadminbar .quicklinks .menupop ul li.qm-true>a:hover{color:#47a747 !important}#wpadminbar .qm-alert{background-color:#f60}#wpadminbar .qm-alert:hover{background-color:#e65c00}#wpadminbar #wp-admin-bar-query-monitor-stricts a,
#wpadminbar #wp-admin-bar-query-monitor-deprecateds a,
#wpadminbar #wp-admin-bar-query-monitor-notices a,
#wpadminbar .qm-strict,
#wpadminbar .qm-deprecated,
#wpadminbar .qm-notice{background-color:#740}#wpadminbar #wp-admin-bar-query-monitor-expensive a,
#wpadminbar .qm-expensive{background-color:#b60}#wpadminbar #wp-admin-bar-query-monitor-expensive a:hover,
#wpadminbar .qm-expensive:hover{background-color:#915700}#wpadminbar #wp-admin-bar-query-monitor-logger-warning a,
#wpadminbar #wp-admin-bar-query-monitor-warnings a,
#wpadminbar #wp-admin-bar-query-monitor-errors a,
#wpadminbar .qm-error,
#wpadminbar .qm-warning{background-color:#c00}#wpadminbar #wp-admin-bar-query-monitor-logger-warning a:hover,
#wpadminbar #wp-admin-bar-query-monitor-warnings a:hover,
#wpadminbar #wp-admin-bar-query-monitor-errors a:hover,
#wpadminbar .qm-error:hover,
#wpadminbar .qm-warning:hover{background-color:#b30000}#wpadminbar #wp-admin-bar-query-monitor .ab-icon{color:#aaa !important;display:none !important;font:18px/44px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;padding:0
10px !important;width:auto !important}@media screen and (max-width: 782px){#wpadminbar #wp-admin-bar-query-monitor .ab-icon{display:block !important}#wpadminbar #wp-admin-bar-query-monitor .ab-label{display:none !important}}#wp-admin-bar-query-monitor *,#wp-admin-bar-query-monitor{direction:ltr !important;text-align:left !important}body.admin-color-light #wp-admin-bar-query-monitor:not(.qm-all-clear):not(:hover):not(.hover) .ab-label,
#wp-admin-bar-query-monitor-default .qm-alert a,
#wp-admin-bar-query-monitor-default .qm-error a,
#wp-admin-bar-query-monitor-default .qm-warning a,
#wp-admin-bar-query-monitor-deprecateds a,
#wp-admin-bar-query-monitor-stricts a,
#wp-admin-bar-query-monitor-notices a,
#wp-admin-bar-query-monitor-expensive a,
#wp-admin-bar-query-monitor-logger-warning a,
#wp-admin-bar-query-monitor-warnings a,
#wp-admin-bar-query-monitor-errors
a{color:#eee !important}#wp-admin-bar-query-monitor
small{font-size:11px !important}#wp-admin-bar-query-monitor.hover a small,
#wp-admin-bar-query-monitor.hover a .ab-label{text-shadow:none !important}#wp-admin-bar-query-monitor-placeholder,#wp-admin-bar-query-monitor-default{display:none}#query-monitor-main dl,
#query-monitor-main dt,
#query-monitor-main dd,
#query-monitor-main button,
#query-monitor-main caption,
#query-monitor-main label,
#query-monitor-main select,
#query-monitor-main table,
#query-monitor-main td,
#query-monitor-main th,
#query-monitor-main ul,
#query-monitor-main ol,
#query-monitor-main li,
#query-monitor-main code,
#query-monitor-main pre,
#query-monitor-main a,
#query-monitor-main h1,
#query-monitor-main h2,
#query-monitor-main h3,
#query-monitor-main h4,
#query-monitor-main h5,
#query-monitor-main h6,
#query-monitor-main section,
#query-monitor-main nav,
#query-monitor-main
p{background:transparent !important;border:none !important;border-radius:0 !important;box-shadow:none !important;box-sizing:border-box !important;clear:both !important;color:#222 !important;float:none !important;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;font-size:12px !important;-webkit-font-smoothing:auto !important;font-style:normal !important;font-weight:normal !important;letter-spacing:normal !important;line-height:18px !important;margin:0
!important;min-height:auto !important;outline:none !important;padding:0
!important;text-align:left !important;text-decoration:none !important;text-indent:0 !important;text-shadow:none !important;text-transform:none !important;transition:none !important;vertical-align:baseline !important;word-break:normal !important;word-wrap:normal !important;width:auto !important}#query-monitor-main dl::before, #query-monitor-main dl::after,
#query-monitor-main dt::before,
#query-monitor-main dt::after,
#query-monitor-main dd::before,
#query-monitor-main dd::after,
#query-monitor-main button::before,
#query-monitor-main button::after,
#query-monitor-main caption::before,
#query-monitor-main caption::after,
#query-monitor-main label::before,
#query-monitor-main label::after,
#query-monitor-main select::before,
#query-monitor-main select::after,
#query-monitor-main table::before,
#query-monitor-main table::after,
#query-monitor-main td::before,
#query-monitor-main td::after,
#query-monitor-main th::before,
#query-monitor-main th::after,
#query-monitor-main ul::before,
#query-monitor-main ul::after,
#query-monitor-main ol::before,
#query-monitor-main ol::after,
#query-monitor-main li::before,
#query-monitor-main li::after,
#query-monitor-main code::before,
#query-monitor-main code::after,
#query-monitor-main pre::before,
#query-monitor-main pre::after,
#query-monitor-main a::before,
#query-monitor-main a::after,
#query-monitor-main h1::before,
#query-monitor-main h1::after,
#query-monitor-main h2::before,
#query-monitor-main h2::after,
#query-monitor-main h3::before,
#query-monitor-main h3::after,
#query-monitor-main h4::before,
#query-monitor-main h4::after,
#query-monitor-main h5::before,
#query-monitor-main h5::after,
#query-monitor-main h6::before,
#query-monitor-main h6::after,
#query-monitor-main section::before,
#query-monitor-main section::after,
#query-monitor-main nav::before,
#query-monitor-main nav::after,
#query-monitor-main p::before,
#query-monitor-main p::after{display:none !important}#query-monitor-main{background:transparent !important;border:none !important;border-radius:0 !important;box-shadow:none !important;box-sizing:border-box !important;clear:both !important;color:#222 !important;float:none !important;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;font-size:12px !important;-webkit-font-smoothing:auto !important;font-style:normal !important;font-weight:normal !important;letter-spacing:normal !important;line-height:18px !important;margin:0
!important;min-height:auto !important;outline:none !important;padding:0
!important;text-align:left !important;text-decoration:none !important;text-indent:0 !important;text-shadow:none !important;text-transform:none !important;transition:none !important;vertical-align:baseline !important;word-break:normal !important;word-wrap:normal !important;background:#fff !important;border-top:1px solid #aaa !important;bottom:0 !important;direction:ltr !important;display:none;left:0 !important;margin:0
!important;position:fixed;right:0 !important;text-align:left !important;z-index:99998 !important}#query-monitor-main::before,#query-monitor-main::after{display:none !important}#query-monitor-main ::selection{background-color:#B9D6FB !important;color:#222 !important}#query-monitor-main strong,
#query-monitor-main
b{font-weight:bold !important}#query-monitor-main em,
#query-monitor-main
i{font-style:italic !important}#query-monitor-main.qm-show,#query-monitor-main.qm-peek{display:flex;flex-direction:column !important;height:27px}#query-monitor-main.qm-show{height:40%;width:40%}#query-monitor-main:not(.qm-show-right){width:100% !important}#query-monitor-main.qm-show-right{height:calc( 100vh - 32px) !important;top:32px !important;left:unset !important;border-top:0 !important;border-left:1px solid #aaa !important}#query-monitor-main.qm-show-right #qm-panel-menu,
#query-monitor-main.qm-show-right #qm-title h1.qm-title-heading{display:none}#query-monitor-main.qm-show-right #qm-title div.qm-title-heading{display:block}#query-monitor-main.qm-show-right #qm-title{cursor:default !important}#query-monitor-main.qm-show-right #qm-side-resizer{background:transparent !important;cursor:ew-resize !important;display:block !important;height:100% !important;position:absolute !important;left:-2px !important;top:0 !important;width:4px !important;z-index:2 !important}#query-monitor-main.qm-show-right.qm-peek{height:100vh !important;top:0 !important}#query-monitor-main #qm-wrapper{display:flex;flex-grow:1 !important;min-height:0}#query-monitor-main #qm-title{align-items:center !important;background:#f3f3f3 !important;border-bottom:1px solid #aaa !important;cursor:ns-resize !important;display:flex !important;flex-shrink:0 !important;height:27px !important;padding:0
0 0 5px !important;-moz-user-select:none !important;-ms-user-select:none !important;-webkit-user-select:none !important;user-select:none !important}#query-monitor-main #qm-title .qm-title-heading{border-right:1px solid #bbb !important;flex-grow:1 !important;margin-right:6px !important}#query-monitor-main #qm-title div.qm-title-heading{display:none}#query-monitor-main #qm-title .qm-title-button{flex-shrink:0 !important}#query-monitor-main #qm-title
.dashicons{transition:none !important;height:20px !important;width:20px !important}#query-monitor-main #qm-title .qm-button-container-close{margin-right:10px !important}#query-monitor-main #qm-title .qm-button-container-close
.dashicons{font-size:20px !important;margin:3px
0 3px !important}@media screen and (max-width: 960px){#query-monitor-main #qm-title .qm-button-container-position{display:none !important}}#query-monitor-main #qm-title
button{background:transparent !important;color:#666 !important;cursor:pointer !important;display:inline-block !important;margin:0
0 0 0px !important;min-width:auto !important;padding:0px
4px !important}#query-monitor-main #qm-title button:focus *,
#query-monitor-main #qm-title button:hover *,
#query-monitor-main #qm-title button:focus,
#query-monitor-main #qm-title button:hover{background:#e6e6e6 !important;color:#000 !important}#query-monitor-main #qm-title button:active *,
#query-monitor-main #qm-title button:active{background:#ccc !important}#query-monitor-main #qm-title button.qm-button-active{color:#3879d9 !important}#query-monitor-main #qm-title .qm-button-container-settings
.dashicons{font-size:17px !important;margin:4px
0 2px !important}#query-monitor-main #qm-title .qm-button-container-position
.dashicons{font-size:15px !important;margin:2px
-1px 3px 4px !important;transform:scaleX(-1) rotate(90deg) !important}#query-monitor-main.qm-show-right #qm-title .qm-button-container-position
.dashicons{margin:4px
1px 0px 1px !important;transform:none !important}#query-monitor-main
.qm{display:none !important}#query-monitor-main #qm-panel-menu{background:#ececec !important;flex-shrink:0 !important;overflow-y:scroll !important;overscroll-behavior:contain !important;height:auto !important}#query-monitor-main #qm-panel-menu
ul{display:block !important;list-style:none !important;margin:0
!important;padding:0
!important;width:auto !important;height:auto !important}#query-monitor-main #qm-panel-menu
li{display:list-item !important;margin:0
!important;padding:0
!important;height:auto !important}#query-monitor-main #qm-panel-menu li
button{background:#f3f3f3 !important;border-bottom:1px solid #ddd !important;border-right:1px solid #aaa !important;color:#333 !important;cursor:pointer !important;display:block !important;padding:8px
28px 8px 6px !important;position:relative !important;text-decoration:none !important;width:100% !important}#query-monitor-main #qm-panel-menu li button:focus,
#query-monitor-main #qm-panel-menu li button:hover{background:#cde !important;color:#222 !important}#query-monitor-main #qm-panel-menu li button:focus{text-decoration:underline !important}#query-monitor-main #qm-panel-menu li button:active{text-decoration:none !important;background:#0073aa !important;color:#fff !important;text-shadow:0 -1px 1px #006291, 1px 0 1px #006291, 0 1px 1px #006291, -1px 0 1px #006291 !important}#query-monitor-main #qm-panel-menu li.qm-current-menu
button{background:#def !important;color:#222 !important}#query-monitor-main #qm-panel-menu li.qm-current-menu button:focus{background:#f7fbff !important;color:#222 !important}#query-monitor-main #qm-panel-menu li.qm-current-menu button:hover{background:#cde !important;color:#222 !important}#query-monitor-main #qm-panel-menu li li button::before{content:"\2514" !important;display:inline-block !important;margin-right:5px !important}#query-monitor-main #qm-panel-menu li button[aria-selected="true"]{background:#0073aa !important;color:#fff !important;text-shadow:0 -1px 1px #006291, 1px 0 1px #006291, 0 1px 1px #006291, -1px 0 1px #006291 !important}#query-monitor-main #qm-panel-menu li button[aria-selected="true"]:focus{background:#0084c4 !important;color:#fff !important}#query-monitor-main #qm-panel-menu li button[aria-selected="true"]:hover{background:#0073aa !important;color:#fff !important}#query-monitor-main #qm-panel-menu li button[aria-selected="true"]:after{border:solid 8px transparent;border-right-color:#fff;content:" ";display:inline-block !important;height:0;margin-top:-8px;pointer-events:none;position:absolute;right:-1px;top:50%;width:0}#query-monitor-main #qm-panels{flex-grow:1 !important;overflow-y:scroll !important;overscroll-behavior:contain !important}#query-monitor-main .qm.qm-panel-show{display:block !important}#query-monitor-main .qm:focus{outline:0
!important}#query-monitor-main .qm-boxed{display:flex !important;flex-wrap:wrap !important}#query-monitor-main .qm-boxed:not(#qm-broken)+.qm-boxed{border-top:1px solid #ddd !important;padding-top:10px !important}#query-monitor-main .qm-boxed-wrap{flex-wrap:wrap !important}#query-monitor-main .qm .qm-none{margin:2em
!important}#query-monitor-main .qm .qm-none
p{font-style:italic !important;text-align:center !important}#query-monitor-main .qm
table{border:none !important;border-collapse:collapse !important;box-shadow:0px 1px 0px 0px #aaa !important;color:#222 !important;margin:0
!important;table-layout:auto !important;width:100% !important}#query-monitor-main .qm table+table{border-top:1px solid #e0e0e0 !important;margin-top:5px !important}#query-monitor-main .qm
tr{border:none !important}#query-monitor-main .qm tbody th,
#query-monitor-main .qm tbody td,
#query-monitor-main .qm tfoot th,
#query-monitor-main .qm tfoot
td{border:1px
solid #e0e0e0 !important;padding:5px
5px 4px 5px !important;vertical-align:top !important}#query-monitor-main .qm tbody th,
#query-monitor-main .qm tbody
td{border-bottom:none !important;border-top:none !important}#query-monitor-main .qm thead
th{background:#fff !important;border:1px
solid #e0e0e0 !important;border-top:none !important;box-shadow:0px 1px 0px #e0e0e0 !important;padding:5px
!important;position:-webkit-sticky !important;position:sticky !important;top:0 !important;z-index:1 !important}#query-monitor-main .qm thead th,
#query-monitor-main .qm thead
td{vertical-align:top !important}#query-monitor-main .qm thead .qm-th{display:flex !important}#query-monitor-main .qm tfoot tr td,
#query-monitor-main .qm tfoot tr
th{background:#f3f3f3 !important;border:none !important;bottom:0 !important;box-shadow:inset 0px 1px 0px #e0e0e0 !important;position:-webkit-sticky !important;position:sticky !important}#query-monitor-main .qm th:first-child,
#query-monitor-main .qm td:first-child{border-left:none !important}#query-monitor-main .qm th:last-child,
#query-monitor-main .qm td:last-child{border-right:none !important}#query-monitor-main .qm tfoot td.qm-num,
#query-monitor-main .qm tfoot th.qm-num,
#query-monitor-main .qm thead td.qm-num,
#query-monitor-main .qm thead th.qm-num{width:5.5em !important}#query-monitor-main .qm th.qm-num,
#query-monitor-main .qm td.qm-num{text-align:right !important}#query-monitor-main .qm td.qm-num{font-family:Menlo,Monaco,Consolas,monospace !important;font-size:11px !important;line-height:18px !important}#query-monitor-main .qm td.qm-row-sql{min-width:25em !important}#query-monitor-main .qm td.qm-row-block-attrs,
#query-monitor-main .qm td.qm-row-block-html{max-width:40em !important}#query-monitor-main .qm tr.qm-warn td.qm-col-status,
#query-monitor-main .qm td.qm-url,
#query-monitor-main .qm th.qm-col-message,
#query-monitor-main .qm td.qm-row-component{min-width:15em !important}#query-monitor-main .qm td.qm-has-toggle{padding-right:24px !important;position:relative !important}#query-monitor-main .qm td.qm-has-toggle:not(.qm-toggled-on) .qm-supplemental{display:none}#query-monitor-main .qm .qm-inner-toggle{padding:4px
6px !important}#query-monitor-main .qm .qm-has-inner .qm-toggled>table{border-bottom:none !important;border-top:1px solid #e0e0e0 !important}#query-monitor-main .qm td.qm-has-inner .qm-toggler,
#query-monitor-main .qm td.qm-has-inner{padding:0
!important}#query-monitor-main .qm caption
h2{font-size:14px !important;margin:20px
!important}#query-monitor-main .qm-concerns
table{border-top:1px solid #e0e0e0 !important;margin-bottom:20px !important}#query-monitor-main .qm-non-tabular{padding:10px
20px !important}#query-monitor-main .qm-non-tabular
h3{font-size:14px !important;margin:0
0 15px 0 !important}#query-monitor-main .qm-non-tabular
h4{font-size:12px !important;margin:20px
0 10px !important}#query-monitor-main .qm-non-tabular
p{margin-bottom:10px !important}#query-monitor-main .qm-non-tabular
dl{display:flex !important;flex-wrap:wrap !important;max-width:60em !important}#query-monitor-main .qm-non-tabular
dt{border-top:1px solid #ddd !important;flex-grow:0;flex:1 0 16em;padding:10px
10px 10px 0 !important}#query-monitor-main .qm-non-tabular
dd{border-top:1px solid #ddd !important;flex:1 0 calc(100% - 10px - 16em);padding:10px
0 !important}#query-monitor-main .qm-non-tabular section,
#query-monitor-main .qm-non-tabular .qm-section{margin:0
0 30px 0 !important}#query-monitor-main .qm-non-tabular .qm-boxed section,
#query-monitor-main .qm-non-tabular .qm-boxed .qm-section{border-right:1px solid #ddd !important;margin:0
20px 10px 0 !important;padding:10px
20px 10px 0 !important}#query-monitor-main .qm-non-tabular .qm-boxed section:last-child,
#query-monitor-main .qm-non-tabular .qm-boxed .qm-section:last-child{border-right:none !important;margin-right:0 !important;padding-right:20px !important}#query-monitor-main .qm-non-tabular
table{border-bottom-color:#e0e0e0 !important}#query-monitor-main #qm-conditionals
li{display:inline-block !important;margin:0
20px 5px 0 !important}#query-monitor-main .qm ol,
#query-monitor-main .qm
ul{list-style:none !important}#query-monitor-main .qm
li{display:list-item !important;list-style:none !important}#query-monitor-main .qm li::before{content:'' !important}#query-monitor-main .qm code,
#query-monitor-main .qm
pre{font-family:Menlo,Monaco,Consolas,monospace !important;font-size:11px !important;line-height:18px !important}#query-monitor-main .qm
pre{background:transparent !important;height:auto !important;margin:0
!important;padding:0
!important;width:auto !important}#query-monitor-main .qm .qm-true code,
#query-monitor-main .qm p.qm-true,
#query-monitor-main .qm span.qm-true,
#query-monitor-main .qm td.qm-true{color:#282 !important}#query-monitor-main .qm .qm-false code,
#query-monitor-main .qm span.qm-false,
#query-monitor-main .qm td.qm-false{color:#999 !important}#query-monitor-main .qm .qm-num,
#query-monitor-main .qm code,
#query-monitor-main .qm .qm-nowrap{white-space:nowrap !important}#query-monitor-main .qm .qm-wrap code,
#query-monitor-main .qm .qm-wrap{white-space:normal !important;word-break:break-all !important;word-wrap:break-word !important}#query-monitor-main .qm .qm-pre-wrap
code{white-space:pre-wrap !important;word-break:break-all !important;word-wrap:break-word !important}#query-monitor-main .qm .qm-sticky{position:sticky !important;top:36px !important}#query-monitor-main .qm .qm-current,
#query-monitor-main .qm td.qm-has-toggle p,
#query-monitor-main .qm .qm-nonselectsql code,
#query-monitor-main .qm .qm-nonselectsql{color:#a0a !important}#query-monitor-main .qm .qm-info{color:#666 !important}#query-monitor-main .qm .qm-supplemental{margin-left:0.75em !important;margin-right:0.75em !important}#query-monitor-main .qm td.qm-toggled-on .qm-inverse-toggled,
#query-monitor-main .qm td .qm-toggled{display:none}#query-monitor-main .qm button.qm-button,
#query-monitor-main .qm .qm-toggle{background:#007cba !important;border:1px
solid #007cba !important;border-radius:3px !important;color:#fff !important;cursor:pointer !important;font-weight:normal !important;text-shadow:none !important}#query-monitor-main .qm .qm-toggle{bottom:auto !important;font-family:Menlo,Monaco,Consolas,monospace !important;height:18px !important;left:auto !important;line-height:16px !important;padding:0
!important;position:absolute !important;right:5px !important;text-align:center !important;top:5px !important;width:18px !important}#query-monitor-main .qm
button{cursor:pointer !important}#query-monitor-main .qm button.qm-button{padding:4px
10px !important}#query-monitor-main .qm .qm-has-inner .qm-toggle{right:5px !important;top:5px !important}#query-monitor-main .qm button.qm-button:hover,
#query-monitor-main .qm .qm-toggle:hover{background:#0072ab !important;border-color:#0072ab !important;color:#fff !important;text-decoration:none !important}#query-monitor-main .qm button.qm-button:focus,
#query-monitor-main .qm .qm-toggle:focus{background:#0072ab !important;border-color:#0072ab !important;color:#fff !important;box-shadow:0 0 0 1px #fff, 0 0 0 3px #0072ab !important}#query-monitor-main .qm button.qm-button:active,
#query-monitor-main .qm .qm-toggle:active{background:#00689b !important;border-color:#00689b !important;color:#fff !important;box-shadow:none !important}#query-monitor-main .qm tbody tr.qm-odd td,
#query-monitor-main .qm tbody tr.qm-odd
th{background:#f9f9f9 !important}#query-monitor-main .qm-non-tabular .qm-warn,
#query-monitor-main .qm thead tr .qm-warn,
#query-monitor-main .qm tbody tr .qm-warn{background-color:#fff0f0 !important;color:#900 !important}#query-monitor-main .qm tbody tr th.qm-warn,
#query-monitor-main .qm tbody tr td.qm-warn,
#query-monitor-main .qm tbody tr.qm-warn td,
#query-monitor-main .qm tbody tr.qm-warn
th{background-color:#fff0f0 !important;color:#900 !important}#query-monitor-main .qm tbody tr.qm-odd th.qm-warn,
#query-monitor-main .qm tbody tr.qm-odd td.qm-warn,
#query-monitor-main .qm tbody tr.qm-odd.qm-warn td,
#query-monitor-main .qm tbody tr.qm-odd.qm-warn
th{background-color:#ffe8e8 !important}#query-monitor-main .qm-non-tabular .qm-warn code,
#query-monitor-main .qm tbody .qm-warn li,
#query-monitor-main .qm tbody .qm-warn .qm-info,
#query-monitor-main .qm tbody .qm-warn
code{background-color:transparent !important;color:#900 !important}#query-monitor-main .qm .qm-notice{background:#def !important;border:1px
solid #aad5ff !important;margin:0
0 10px 0 !important;padding:10px
20px 0 !important}#query-monitor-main .qm
.dashicons{font-size:16px !important;height:16px !important;margin-right:0.3em !important;transition:none !important;width:16px !important}#query-monitor-main .qm .qm-dashicons-yes{background-color:#0a0 !important;border-radius:50% !important;color:#fff !important}#query-monitor-main .qm tbody tr td.qm-highlight,
#query-monitor-main .qm tbody tr.qm-highlight
td{background-color:#ffd !important;color:#222 !important}#query-monitor-main .qm tbody tr.qm-odd td.qm-highlight,
#query-monitor-main .qm tbody tr.qm-odd.qm-highlight
td{background-color:#ffffc9 !important;color:#222 !important}#query-monitor-main .qm tbody tr.qm-odd.qm-hovered th,
#query-monitor-main .qm tbody tr.qm-odd.qm-hovered td,
#query-monitor-main .qm tbody tr.qm-odd:hover th,
#query-monitor-main .qm tbody tr.qm-odd:hover td,
#query-monitor-main .qm tbody tr.qm-hovered th,
#query-monitor-main .qm tbody tr.qm-hovered td,
#query-monitor-main .qm tbody tr:hover th,
#query-monitor-main .qm tbody tr:hover
td{background:#eef3fa !important}#query-monitor-main .qm thead th.qm-filtered select.qm-filter{background-color:#ffd !important;color:#222 !important}#query-monitor-main .qm button.qm-filter-trigger,
#query-monitor-main .qm button.qm-filter-trigger code,
#query-monitor-main .qm tbody .qm-warn a code,
#query-monitor-main .qm a code,
#query-monitor-main .qm
a{color:#0073aa !important;cursor:pointer !important;text-decoration:none !important}#query-monitor-main .qm button.qm-filter-trigger:after, #query-monitor-main .qm button.qm-filter-trigger:focus, #query-monitor-main .qm button.qm-filter-trigger:hover,
#query-monitor-main .qm button.qm-filter-trigger code:after,
#query-monitor-main .qm button.qm-filter-trigger code:focus,
#query-monitor-main .qm button.qm-filter-trigger code:hover,
#query-monitor-main .qm tbody .qm-warn a code:after,
#query-monitor-main .qm tbody .qm-warn a code:focus,
#query-monitor-main .qm tbody .qm-warn a code:hover,
#query-monitor-main .qm a code:after,
#query-monitor-main .qm a code:focus,
#query-monitor-main .qm a code:hover,
#query-monitor-main .qm a:after,
#query-monitor-main .qm a:focus,
#query-monitor-main .qm a:hover{color:#0096dd !important;text-decoration:underline !important}#query-monitor-main .qm button.qm-filter-trigger:active,
#query-monitor-main .qm button.qm-filter-trigger code:active,
#query-monitor-main .qm tbody .qm-warn a code:active,
#query-monitor-main .qm a code:active,
#query-monitor-main .qm a:active{color:#11b2ff !important;text-decoration:underline !important}#query-monitor-main .qm a.qm-external-link:after,
#query-monitor-main .qm a.qm-link:after,
#query-monitor-main .qm a.qm-edit-link:after,
#query-monitor-main .qm button.qm-filter-info:before,
#query-monitor-main .qm button.qm-filter-trigger:after{display:inline-block !important;font-family:dashicons !important;font-size:14px !important;left:2px !important;line-height:15px !important;position:relative !important;text-decoration:none !important;top:2px !important;visibility:hidden !important}#query-monitor-main .qm button.qm-filter-info:before{left:unset !important;right:2px !important;content:'\f534' !important;visibility:visible !important}#query-monitor-main .qm a.qm-external-link:after,
#query-monitor-main .qm a.qm-link:hover:after,
#query-monitor-main .qm a.qm-link:focus:after,
#query-monitor-main .qm a.qm-edit-link:hover:after,
#query-monitor-main .qm a.qm-edit-link:focus:after,
#query-monitor-main .qm button.qm-filter-trigger:hover:after,
#query-monitor-main .qm button.qm-filter-trigger:focus:after{visibility:visible !important}#query-monitor-main .qm button.qm-filter-trigger:after{content:'\f536' !important}#query-monitor-main .qm a.qm-edit-link:after{content:'\f464' !important}#query-monitor-main .qm a.qm-external-link:after,
#query-monitor-main .qm a.qm-link:after{content:'\f504' !important}#query-monitor-main #qm-ajax-errors{display:none}#query-monitor-main button,
#query-monitor-main
select{background:none !important;cursor:pointer !important;height:auto !important;margin:0
!important;width:auto !important}#query-monitor-main .qm
label{color:#222 !important;cursor:pointer !important;font-size:12px !important;font-style:normal !important;font-weight:normal !important;margin:0
!important}#query-monitor-main .qm thead
label{flex-grow:1 !important}#query-monitor-main .qm .qm-filter-container{display:flex !important}#query-monitor-main .qm .qm-filter-container
label{cursor:default !important;white-space:nowrap !important}#query-monitor-main .qm .qm-filter-container
div{display:none !important}#query-monitor-main .qm select.qm-filter{-webkit-appearance:menulist !important;-moz-appearance:menulist !important;appearance:menulist !important;background:#fff !important;border:none !important;color:#222 !important;cursor:pointer !important;display:block !important;float:none !important;height:auto !important;letter-spacing:normal !important;margin:0
0 0 5px !important;max-width:12em !important;outline:1px
solid #aaa !important;padding:0
!important;width:auto !important}#query-monitor-main .qm select.qm-filter:hover{background:#f3f3f3 !important}#query-monitor-main .qm-hide,
#query-monitor-main .qm-hide-scripts-dependencies,
#query-monitor-main .qm-hide-styles-dependencies,
#query-monitor-main .qm-hide-scripts-dependents,
#query-monitor-main .qm-hide-styles-dependents,
#query-monitor-main .qm-hide-scripts-host,
#query-monitor-main .qm-hide-styles-host,
#query-monitor-main .qm-hide-user,
#query-monitor-main .qm-hide-result,
#query-monitor-main .qm-hide-name,
#query-monitor-main .qm-hide-type,
#query-monitor-main .qm-hide-caller,
#query-monitor-main .qm-hide-component{display:none !important}#query-monitor-main .qm thead th.qm-sortable-column{cursor:pointer !important}#query-monitor-main .qm thead th.qm-sortable-column:hover{background:#f3f3f3 !important}#query-monitor-main .qm .qm-sort-heading{flex-grow:1 !important}#query-monitor-main .qm .qm-sort-controls{flex-shrink:0 !important;text-align:right !important}#query-monitor-main .qm .qm-sortable-column .qm-sort-arrow{color:#ccc !important;display:block !important;font-family:dashicons !important;font-size:23px !important;height:10px !important;margin:0
!important;width:16px !important}#query-monitor-main .qm .qm-sortable-column .qm-sort-arrow::before{content:"\f140" !important;position:absolute !important;right:0 !important;top:4px !important}#query-monitor-main .qm .qm-sorted-desc .qm-sort-arrow,
#query-monitor-main .qm .qm-sorted-asc .qm-sort-arrow{color:#222 !important}#query-monitor-main .qm thead th.qm-sortable-column:hover .qm-sort-arrow{color:#0073aa !important}#query-monitor-main .qm .qm-sortable-column.qm-sorted-asc .qm-sort-arrow::before{content:"\f142" !important}#query-monitor-main .qm button:focus,
#query-monitor-main .qm a:focus,
#query-monitor-main .qm select:focus{box-shadow:0 0 0 1px #fff, 0 0 0 3px #0072ab !important}#query-monitor-main .qm button:active,
#query-monitor-main .qm a:active,
#query-monitor-main .qm select:active{box-shadow:none !important}#query-monitor-main .qm-screen-reader-text,
#query-monitor-main .screen-reader-text{border:0
!important;clip:rect(0 0 0 0) !important;height:1px !important;margin:-1px !important;overflow:hidden !important;padding:0
!important;position:absolute !important;width:1px !important}@media screen and (max-width: 782px){#query-monitor-main #qm-panel-menu,
#query-monitor-main #qm-title h1.qm-title-heading{display:none}#query-monitor-main #qm-title div.qm-title-heading{display:block}}#query-monitor-main [data-qm-state="off"] [data-qm-state-visibility="on"],
#query-monitor-main [data-qm-state="on"] [data-qm-state-visibility="off"]{display:none}#query-monitor-main.qm-no-js .qm-sort-controls,
#query-monitor-main.qm-no-js .qm-toggle,
#query-monitor-main.qm-no-js select.qm-filter{display:none !important}#query-monitor-main .qm.qm-debug-bar textarea,
#query-monitor-main .qm.qm-debug-bar
pre{border:1px
solid #ddd !important;margin:4px
0 !important;padding:10px
!important}#query-monitor-main .qm.qm-debug-bar
textarea{resize:vertical !important}#query-monitor-main .qm.qm-debug-bar
.left{float:left !important}#query-monitor-main .qm.qm-debug-bar
.right{float:right !important}#query-monitor-main .qm.qm-debug-bar
h2{font-size:14px !important;margin:4px
6px 15px !important}#query-monitor-main .qm.qm-debug-bar
h3{clear:none !important;float:left !important;font-size:14px !important;margin:3px
8px 15px 0 !important;min-width:150px !important;padding:5px
10px 15px !important;text-align:center !important}#query-monitor-main .qm.qm-debug-bar h3
small{font-size:14px !important}#query-monitor-main .qm.qm-debug-bar h3
span{display:block !important;margin-bottom:8px !important;white-space:nowrap !important}#query-monitor-main .qm.qm-debug-bar
h4{font-size:13px !important;margin:15px
6px 5px !important}#query-monitor-main .qm.qm-debug-bar .qm-debug-bar-output{position:relative !important}#query-monitor-main .qm.qm-debug-bar .qm-debug-bar-output
table{margin-bottom:4px !important;margin-top:4px !important}#query-monitor-main #debug-menu-target-Debug_Bar_Console{min-height:400px !important}#query-monitor-main #debug-menu-target-Debug_Bar_Cache_Lookup,
#query-monitor-main #debug-menu-target-Debug_Bar_Rewrite_Rules,
#query-monitor-main #debug-menu-target-Debug_Bar_Widgets{margin:4px
6px !important}#query-monitor-main #debug-menu-target-Debug_Bar_Rewrite_Rules_Panel .filterui,
#query-monitor-main #debug-menu-target-Debug_Bar_Rewrite_Rules_Panel
.dbrr{margin:0
!important}#query-monitor-main #qm-broken{display:none !important}#query-monitor-main.qm-broken #qm-title{cursor:default !important}#query-monitor-main.qm-broken #qm-title .qm-title-heading{border-right:none !important}#query-monitor-main.qm-broken .qm td .qm-toggled,
#query-monitor-main.qm-broken #qm-broken,
#query-monitor-main.qm-broken
.qm{display:block !important}#query-monitor-main.qm-broken #qm-panel-menu,
#query-monitor-main.qm-broken #qm-settings,
#query-monitor-main.qm-broken #qm-title .qm-title-button{display:none !important}#query-monitor-main.qm-broken
.qm{margin-bottom:50px !important}#query-monitor-main.qm-broken .qm button.qm-filter-trigger{color:#222 !important;cursor:text !important}#query-monitor-main.qm-broken .qm button.qm-filter-trigger:after{display:none !important}#query-monitor-main.qm-broken .qm button.qm-filter-trigger:focus, #query-monitor-main.qm-broken .qm button.qm-filter-trigger:hover, #query-monitor-main.qm-broken .qm button.qm-filter-trigger:active{text-decoration:none !important}#query-monitor-main.qm-broken #qm-broken
h2{padding:20px
!important}#qm-fatal{margin:1em
!important;border:2px
solid #c00 !important;box-shadow:0 0 0 2px #fff;background:#fff !important;max-width:700px !important;clear:both !important;position:absolute !important;z-index:99999 !important}#qm-fatal
h2{font-size:12px !important;font-weight:normal !important;padding:5px
!important;background:#f3f3f3 !important;margin:0
!important}#qm-fatal
.dashicons{color:#c00 !important}#qm-fatal ol,
#qm-fatal
p{font-size:12px !important;padding:0
!important;margin:1em
!important}#qm-fatal
ol{padding:0
0 1em 1em !important}#qm-fatal
li{margin:0
0 0.7em !important;list-style:none !important}#qm-fatal .qm-info{color:#666 !important}body#error-page #qm-fatal{margin:0
!important;border:none !important}:root{--wp-admin-theme-color:#007cba;--wp-admin-theme-color-darker-10:#006ba1;--wp-admin-theme-color-darker-20:#005a87}#start-resizable-editor-section{display:none}.wp-block-audio figcaption{margin-top:.5em;margin-bottom:1em}.wp-block-audio audio{width:100%;min-width:300px}.wp-block-button__link{color:#fff;background-color:#32373c;border:none;border-radius:28px;box-shadow:none;cursor:pointer;display:inline-block;font-size:18px;padding:12px 24px;text-align:center;text-decoration:none;overflow-wrap:break-word}.wp-block-button__link:active,.wp-block-button__link:focus,.wp-block-button__link:hover,.wp-block-button__link:visited{color:#fff}.wp-block-button__link.aligncenter{text-align:center}.wp-block-button__link.alignright{text-align:right}.wp-block-button.is-style-squared,.wp-block-button__link.wp-block-button.is-style-squared{border-radius:0}.wp-block-button.no-border-radius,.wp-block-button__link.no-border-radius{border-radius:0!important}.is-style-outline .wp-block-button__link,.wp-block-button__link.is-style-outline{color:#32373c;background-color:transparent;border:2px solid}.wp-block-buttons .wp-block-button{display:inline-block;margin-right:8px;margin-bottom:8px}.wp-block-buttons .wp-block-button:last-child{margin-right:0}.wp-block-buttons.alignright .wp-block-button{margin-right:0;margin-left:8px}.wp-block-buttons.alignright .wp-block-button:first-child{margin-left:0}.wp-block-buttons.alignleft .wp-block-button{margin-left:0;margin-right:8px}.wp-block-buttons.alignleft .wp-block-button:last-child{margin-right:0}.wp-block-button.aligncenter,.wp-block-buttons.aligncenter,.wp-block-calendar{text-align:center}.wp-block-calendar tbody td,.wp-block-calendar th{padding:4px;border:1px solid #ddd}.wp-block-calendar tfoot td{border:none}.wp-block-calendar table{width:100%;border-collapse:collapse;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif}.wp-block-calendar table th{font-weight:400;background:#ddd}.wp-block-calendar a{text-decoration:underline}.wp-block-calendar tfoot a{color:#007cba;color:var(--wp-admin-theme-color)}.wp-block-calendar table caption,.wp-block-calendar table tbody{color:#40464d}.wp-block-categories.alignleft{margin-right:2em}.wp-block-categories.alignright{margin-left:2em}.wp-block-columns{display:flex;margin-bottom:28px;flex-wrap:wrap}@media (min-width:782px){.wp-block-columns{flex-wrap:nowrap}}.wp-block-columns.has-background{padding:20px 38px}.wp-block-column{flex-grow:1;min-width:0;word-break:break-word;overflow-wrap:break-word}@media (max-width:599px){.wp-block-column{flex-basis:100%!important}}@media (min-width:600px) and (max-width:781px){.wp-block-column{flex-basis:calc(50% - 16px)!important;flex-grow:0}.wp-block-column:nth-child(2n){margin-left:32px}}@media (min-width:782px){.wp-block-column{flex-basis:0;flex-grow:1}.wp-block-column[style*=flex-basis]{flex-grow:0}.wp-block-column:not(:first-child){margin-left:32px}}.wp-block-columns.are-vertically-aligned-top{align-items:flex-start}.wp-block-columns.are-vertically-aligned-center{align-items:center}.wp-block-columns.are-vertically-aligned-bottom{align-items:flex-end}.wp-block-column.is-vertically-aligned-top{align-self:flex-start}.wp-block-column.is-vertically-aligned-center{-ms-grid-row-align:center;align-self:center}.wp-block-column.is-vertically-aligned-bottom{align-self:flex-end}.wp-block-column.is-vertically-aligned-bottom,.wp-block-column.is-vertically-aligned-center,.wp-block-column.is-vertically-aligned-top{width:100%}.wp-block-cover,.wp-block-cover-image{position:relative;background-size:cover;background-position:50%;min-height:430px;height:100%;width:100%;display:flex;justify-content:center;align-items:center;padding:16px}.wp-block-cover-image.has-parallax,.wp-block-cover.has-parallax{background-attachment:fixed}@supports (-webkit-overflow-scrolling:touch){.wp-block-cover-image.has-parallax,.wp-block-cover.has-parallax{background-attachment:scroll}}@media (prefers-reduced-motion:reduce){.wp-block-cover-image.has-parallax,.wp-block-cover.has-parallax{background-attachment:scroll}}.wp-block-cover-image.has-background-dim,.wp-block-cover.has-background-dim{background-color:#000}.wp-block-cover-image.has-background-dim:before,.wp-block-cover.has-background-dim:before{content:"";background-color:inherit}.wp-block-cover-image.has-background-dim:not(.has-background-gradient):before,.wp-block-cover-image .wp-block-cover__gradient-background,.wp-block-cover.has-background-dim:not(.has-background-gradient):before,.wp-block-cover .wp-block-cover__gradient-background{position:absolute;top:0;left:0;bottom:0;right:0;z-index:1}.wp-block-cover-image.has-background-dim:not(.has-background-gradient):before,.wp-block-cover-image .wp-block-cover__gradient-background,.wp-block-cover.has-background-dim:not(.has-background-gradient):before,.wp-block-cover .wp-block-cover__gradient-background{opacity:.5}.wp-block-cover-image.has-background-dim.has-background-dim-10:not(.has-background-gradient):before,.wp-block-cover.has-background-dim.has-background-dim-10:not(.has-background-gradient):before{opacity:.1}.wp-block-cover-image.has-background-dim.has-background-dim-10 .wp-block-cover__gradient-background,.wp-block-cover.has-background-dim.has-background-dim-10 .wp-block-cover__gradient-background{opacity:.1}.wp-block-cover-image.has-background-dim.has-background-dim-20:not(.has-background-gradient):before,.wp-block-cover.has-background-dim.has-background-dim-20:not(.has-background-gradient):before{opacity:.2}.wp-block-cover-image.has-background-dim.has-background-dim-20 .wp-block-cover__gradient-background,.wp-block-cover.has-background-dim.has-background-dim-20 .wp-block-cover__gradient-background{opacity:.2}.wp-block-cover-image.has-background-dim.has-background-dim-30:not(.has-background-gradient):before,.wp-block-cover.has-background-dim.has-background-dim-30:not(.has-background-gradient):before{opacity:.3}.wp-block-cover-image.has-background-dim.has-background-dim-30 .wp-block-cover__gradient-background,.wp-block-cover.has-background-dim.has-background-dim-30 .wp-block-cover__gradient-background{opacity:.3}.wp-block-cover-image.has-background-dim.has-background-dim-40:not(.has-background-gradient):before,.wp-block-cover.has-background-dim.has-background-dim-40:not(.has-background-gradient):before{opacity:.4}.wp-block-cover-image.has-background-dim.has-background-dim-40 .wp-block-cover__gradient-background,.wp-block-cover.has-background-dim.has-background-dim-40 .wp-block-cover__gradient-background{opacity:.4}.wp-block-cover-image.has-background-dim.has-background-dim-50:not(.has-background-gradient):before,.wp-block-cover.has-background-dim.has-background-dim-50:not(.has-background-gradient):before{opacity:.5}.wp-block-cover-image.has-background-dim.has-background-dim-50 .wp-block-cover__gradient-background,.wp-block-cover.has-background-dim.has-background-dim-50 .wp-block-cover__gradient-background{opacity:.5}.wp-block-cover-image.has-background-dim.has-background-dim-60:not(.has-background-gradient):before,.wp-block-cover.has-background-dim.has-background-dim-60:not(.has-background-gradient):before{opacity:.6}.wp-block-cover-image.has-background-dim.has-background-dim-60 .wp-block-cover__gradient-background,.wp-block-cover.has-background-dim.has-background-dim-60 .wp-block-cover__gradient-background{opacity:.6}.wp-block-cover-image.has-background-dim.has-background-dim-70:not(.has-background-gradient):before,.wp-block-cover.has-background-dim.has-background-dim-70:not(.has-background-gradient):before{opacity:.7}.wp-block-cover-image.has-background-dim.has-background-dim-70 .wp-block-cover__gradient-background,.wp-block-cover.has-background-dim.has-background-dim-70 .wp-block-cover__gradient-background{opacity:.7}.wp-block-cover-image.has-background-dim.has-background-dim-80:not(.has-background-gradient):before,.wp-block-cover.has-background-dim.has-background-dim-80:not(.has-background-gradient):before{opacity:.8}.wp-block-cover-image.has-background-dim.has-background-dim-80 .wp-block-cover__gradient-background,.wp-block-cover.has-background-dim.has-background-dim-80 .wp-block-cover__gradient-background{opacity:.8}.wp-block-cover-image.has-background-dim.has-background-dim-90:not(.has-background-gradient):before,.wp-block-cover.has-background-dim.has-background-dim-90:not(.has-background-gradient):before{opacity:.9}.wp-block-cover-image.has-background-dim.has-background-dim-90 .wp-block-cover__gradient-background,.wp-block-cover.has-background-dim.has-background-dim-90 .wp-block-cover__gradient-background{opacity:.9}.wp-block-cover-image.has-background-dim.has-background-dim-100:not(.has-background-gradient):before,.wp-block-cover.has-background-dim.has-background-dim-100:not(.has-background-gradient):before{opacity:1}.wp-block-cover-image.has-background-dim.has-background-dim-100 .wp-block-cover__gradient-background,.wp-block-cover.has-background-dim.has-background-dim-100 .wp-block-cover__gradient-background{opacity:1}.wp-block-cover-image.alignleft,.wp-block-cover-image.alignright,.wp-block-cover.alignleft,.wp-block-cover.alignright{max-width:290px;width:100%}.wp-block-cover-image:after,.wp-block-cover:after{display:block;content:"";font-size:0;min-height:inherit}@supports ((position:-webkit-sticky) or (position:sticky)){.wp-block-cover-image:after,.wp-block-cover:after{content:none}}.wp-block-cover-image.aligncenter,.wp-block-cover-image.alignleft,.wp-block-cover-image.alignright,.wp-block-cover.aligncenter,.wp-block-cover.alignleft,.wp-block-cover.alignright{display:flex}.wp-block-cover-image .wp-block-cover__inner-container,.wp-block-cover .wp-block-cover__inner-container{width:calc(100% - 70px);z-index:1;color:#fff}.wp-block-cover-image .wp-block-subhead:not(.has-text-color),.wp-block-cover-image h1:not(.has-text-color),.wp-block-cover-image h2:not(.has-text-color),.wp-block-cover-image h3:not(.has-text-color),.wp-block-cover-image h4:not(.has-text-color),.wp-block-cover-image h5:not(.has-text-color),.wp-block-cover-image h6:not(.has-text-color),.wp-block-cover-image p:not(.has-text-color),.wp-block-cover .wp-block-subhead:not(.has-text-color),.wp-block-cover h1:not(.has-text-color),.wp-block-cover h2:not(.has-text-color),.wp-block-cover h3:not(.has-text-color),.wp-block-cover h4:not(.has-text-color),.wp-block-cover h5:not(.has-text-color),.wp-block-cover h6:not(.has-text-color),.wp-block-cover p:not(.has-text-color){color:inherit}.wp-block-cover-image.is-position-top-left,.wp-block-cover.is-position-top-left{align-items:flex-start;justify-content:flex-start}.wp-block-cover-image.is-position-top-center,.wp-block-cover.is-position-top-center{align-items:flex-start;justify-content:center}.wp-block-cover-image.is-position-top-right,.wp-block-cover.is-position-top-right{align-items:flex-start;justify-content:flex-end}.wp-block-cover-image.is-position-center-left,.wp-block-cover.is-position-center-left{align-items:center;justify-content:flex-start}.wp-block-cover-image.is-position-center-center,.wp-block-cover.is-position-center-center{align-items:center;justify-content:center}.wp-block-cover-image.is-position-center-right,.wp-block-cover.is-position-center-right{align-items:center;justify-content:flex-end}.wp-block-cover-image.is-position-bottom-left,.wp-block-cover.is-position-bottom-left{align-items:flex-end;justify-content:flex-start}.wp-block-cover-image.is-position-bottom-center,.wp-block-cover.is-position-bottom-center{align-items:flex-end;justify-content:center}.wp-block-cover-image.is-position-bottom-right,.wp-block-cover.is-position-bottom-right{align-items:flex-end;justify-content:flex-end}.wp-block-cover-image.has-custom-content-position.has-custom-content-position .wp-block-cover__inner-container,.wp-block-cover.has-custom-content-position.has-custom-content-position .wp-block-cover__inner-container{margin:0;width:auto}.wp-block-cover__video-background{position:absolute;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);width:100%;height:100%;z-index:0;object-fit:cover}.wp-block-cover-image-text,.wp-block-cover-text,section.wp-block-cover-image h2{color:#fff}.wp-block-cover-image-text a,.wp-block-cover-image-text a:active,.wp-block-cover-image-text a:focus,.wp-block-cover-image-text a:hover,.wp-block-cover-text a,.wp-block-cover-text a:active,.wp-block-cover-text a:focus,.wp-block-cover-text a:hover,section.wp-block-cover-image h2 a,section.wp-block-cover-image h2 a:active,section.wp-block-cover-image h2 a:focus,section.wp-block-cover-image h2 a:hover{color:#fff}.wp-block-cover-image .wp-block-cover.has-left-content{justify-content:flex-start}.wp-block-cover-image .wp-block-cover.has-right-content{justify-content:flex-end}.wp-block-cover-image.has-left-content .wp-block-cover-image-text,.wp-block-cover.has-left-content .wp-block-cover-text,section.wp-block-cover-image.has-left-content>h2{margin-left:0;text-align:left}.wp-block-cover-image.has-right-content .wp-block-cover-image-text,.wp-block-cover.has-right-content .wp-block-cover-text,section.wp-block-cover-image.has-right-content>h2{margin-right:0;text-align:right}.wp-block-cover-image .wp-block-cover-image-text,.wp-block-cover .wp-block-cover-text,section.wp-block-cover-image>h2{font-size:2em;line-height:1.25;z-index:1;margin-bottom:0;max-width:580px;padding:14px;text-align:center}.wp-block-embed.alignleft,.wp-block-embed.alignright,.wp-block[data-align=left]>[data-type^=core-embed],.wp-block[data-align=right]>[data-type^=core-embed]{max-width:360px;width:100%}.wp-block-embed.alignleft .wp-block-embed__wrapper,.wp-block-embed.alignright .wp-block-embed__wrapper,.wp-block[data-align=left]>[data-type^=core-embed] .wp-block-embed__wrapper,.wp-block[data-align=right]>[data-type^=core-embed] .wp-block-embed__wrapper{min-width:280px}.wp-block-embed{margin-bottom:1em}.wp-block-embed figcaption{margin-top:.5em;margin-bottom:1em}.wp-block-embed iframe{max-width:100%}.wp-block-embed__wrapper{position:relative}.wp-embed-responsive .wp-has-aspect-ratio .wp-block-embed__wrapper:before{content:"";display:block;padding-top:50%}.wp-embed-responsive .wp-has-aspect-ratio iframe{position:absolute;top:0;right:0;bottom:0;left:0;height:100%;width:100%}.wp-embed-responsive .wp-embed-aspect-21-9 .wp-block-embed__wrapper:before{padding-top:42.85%}.wp-embed-responsive .wp-embed-aspect-18-9 .wp-block-embed__wrapper:before{padding-top:50%}.wp-embed-responsive .wp-embed-aspect-16-9 .wp-block-embed__wrapper:before{padding-top:56.25%}.wp-embed-responsive .wp-embed-aspect-4-3 .wp-block-embed__wrapper:before{padding-top:75%}.wp-embed-responsive .wp-embed-aspect-1-1 .wp-block-embed__wrapper:before{padding-top:100%}.wp-embed-responsive .wp-embed-aspect-9-6 .wp-block-embed__wrapper:before{padding-top:66.66%}.wp-embed-responsive .wp-embed-aspect-1-2 .wp-block-embed__wrapper:before{padding-top:200%}.wp-block-file{margin-bottom:1.5em}.wp-block-file.aligncenter{text-align:center}.wp-block-file.alignright{text-align:right}.wp-block-file .wp-block-file__button{background:#32373c;border-radius:2em;color:#fff;font-size:13px;padding:.5em 1em}.wp-block-file a.wp-block-file__button{text-decoration:none}.wp-block-file a.wp-block-file__button:active,.wp-block-file a.wp-block-file__button:focus,.wp-block-file a.wp-block-file__button:hover,.wp-block-file a.wp-block-file__button:visited{box-shadow:none;color:#fff;opacity:.85;text-decoration:none}.wp-block-file *+.wp-block-file__button{margin-left:.75em}.blocks-gallery-grid,.wp-block-gallery{display:flex;flex-wrap:wrap;list-style-type:none;padding:0;margin:0}.blocks-gallery-grid .blocks-gallery-image,.blocks-gallery-grid .blocks-gallery-item,.wp-block-gallery .blocks-gallery-image,.wp-block-gallery .blocks-gallery-item{margin:0 16px 16px 0;display:flex;flex-grow:1;flex-direction:column;justify-content:center;position:relative}.blocks-gallery-grid .blocks-gallery-image figure,.blocks-gallery-grid .blocks-gallery-item figure,.wp-block-gallery .blocks-gallery-image figure,.wp-block-gallery .blocks-gallery-item figure{margin:0;height:100%}@supports ((position:-webkit-sticky) or (position:sticky)){.blocks-gallery-grid .blocks-gallery-image figure,.blocks-gallery-grid .blocks-gallery-item figure,.wp-block-gallery .blocks-gallery-image figure,.wp-block-gallery .blocks-gallery-item figure{display:flex;align-items:flex-end;justify-content:flex-start}}.blocks-gallery-grid .blocks-gallery-image img,.blocks-gallery-grid .blocks-gallery-item img,.wp-block-gallery .blocks-gallery-image img,.wp-block-gallery .blocks-gallery-item img{display:block;max-width:100%;height:auto;width:100%}@supports ((position:-webkit-sticky) or (position:sticky)){.blocks-gallery-grid .blocks-gallery-image img,.blocks-gallery-grid .blocks-gallery-item img,.wp-block-gallery .blocks-gallery-image img,.wp-block-gallery .blocks-gallery-item img{width:auto}}.blocks-gallery-grid .blocks-gallery-image figcaption,.blocks-gallery-grid .blocks-gallery-item figcaption,.wp-block-gallery .blocks-gallery-image figcaption,.wp-block-gallery .blocks-gallery-item figcaption{position:absolute;bottom:0;width:100%;max-height:100%;overflow:auto;padding:40px 10px 9px;color:#fff;text-align:center;font-size:13px;background:linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent)}.blocks-gallery-grid .blocks-gallery-image figcaption img,.blocks-gallery-grid .blocks-gallery-item figcaption img,.wp-block-gallery .blocks-gallery-image figcaption img,.wp-block-gallery .blocks-gallery-item figcaption img{display:inline}.blocks-gallery-grid.is-cropped .blocks-gallery-image a,.blocks-gallery-grid.is-cropped .blocks-gallery-image img,.blocks-gallery-grid.is-cropped .blocks-gallery-item a,.blocks-gallery-grid.is-cropped .blocks-gallery-item img,.wp-block-gallery.is-cropped .blocks-gallery-image a,.wp-block-gallery.is-cropped .blocks-gallery-image img,.wp-block-gallery.is-cropped .blocks-gallery-item a,.wp-block-gallery.is-cropped .blocks-gallery-item img{width:100%}@supports ((position:-webkit-sticky) or (position:sticky)){.blocks-gallery-grid.is-cropped .blocks-gallery-image a,.blocks-gallery-grid.is-cropped .blocks-gallery-image img,.blocks-gallery-grid.is-cropped .blocks-gallery-item a,.blocks-gallery-grid.is-cropped .blocks-gallery-item img,.wp-block-gallery.is-cropped .blocks-gallery-image a,.wp-block-gallery.is-cropped .blocks-gallery-image img,.wp-block-gallery.is-cropped .blocks-gallery-item a,.wp-block-gallery.is-cropped .blocks-gallery-item img{height:100%;flex:1;object-fit:cover}}.blocks-gallery-grid .blocks-gallery-image,.blocks-gallery-grid .blocks-gallery-item,.wp-block-gallery .blocks-gallery-image,.wp-block-gallery .blocks-gallery-item{width:calc(50% - 16px)}.blocks-gallery-grid .blocks-gallery-image:nth-of-type(2n),.blocks-gallery-grid .blocks-gallery-item:nth-of-type(2n),.wp-block-gallery .blocks-gallery-image:nth-of-type(2n),.wp-block-gallery .blocks-gallery-item:nth-of-type(2n){margin-right:0}.blocks-gallery-grid.columns-1 .blocks-gallery-image,.blocks-gallery-grid.columns-1 .blocks-gallery-item,.wp-block-gallery.columns-1 .blocks-gallery-image,.wp-block-gallery.columns-1 .blocks-gallery-item{width:100%;margin-right:0}@media (min-width:600px){.blocks-gallery-grid.columns-3 .blocks-gallery-image,.blocks-gallery-grid.columns-3 .blocks-gallery-item,.wp-block-gallery.columns-3 .blocks-gallery-image,.wp-block-gallery.columns-3 .blocks-gallery-item{width:calc(33.33333% - 10.66667px);margin-right:16px}.blocks-gallery-grid.columns-4 .blocks-gallery-image,.blocks-gallery-grid.columns-4 .blocks-gallery-item,.wp-block-gallery.columns-4 .blocks-gallery-image,.wp-block-gallery.columns-4 .blocks-gallery-item{width:calc(25% - 12px);margin-right:16px}.blocks-gallery-grid.columns-5 .blocks-gallery-image,.blocks-gallery-grid.columns-5 .blocks-gallery-item,.wp-block-gallery.columns-5 .blocks-gallery-image,.wp-block-gallery.columns-5 .blocks-gallery-item{width:calc(20% - 12.8px);margin-right:16px}.blocks-gallery-grid.columns-6 .blocks-gallery-image,.blocks-gallery-grid.columns-6 .blocks-gallery-item,.wp-block-gallery.columns-6 .blocks-gallery-image,.wp-block-gallery.columns-6 .blocks-gallery-item{width:calc(16.66667% - 13.33333px);margin-right:16px}.blocks-gallery-grid.columns-7 .blocks-gallery-image,.blocks-gallery-grid.columns-7 .blocks-gallery-item,.wp-block-gallery.columns-7 .blocks-gallery-image,.wp-block-gallery.columns-7 .blocks-gallery-item{width:calc(14.28571% - 13.71429px);margin-right:16px}.blocks-gallery-grid.columns-8 .blocks-gallery-image,.blocks-gallery-grid.columns-8 .blocks-gallery-item,.wp-block-gallery.columns-8 .blocks-gallery-image,.wp-block-gallery.columns-8 .blocks-gallery-item{width:calc(12.5% - 14px);margin-right:16px}.blocks-gallery-grid.columns-1 .blocks-gallery-image:nth-of-type(1n),.blocks-gallery-grid.columns-1 .blocks-gallery-item:nth-of-type(1n),.wp-block-gallery.columns-1 .blocks-gallery-image:nth-of-type(1n),.wp-block-gallery.columns-1 .blocks-gallery-item:nth-of-type(1n){margin-right:0}.blocks-gallery-grid.columns-2 .blocks-gallery-image:nth-of-type(2n),.blocks-gallery-grid.columns-2 .blocks-gallery-item:nth-of-type(2n),.wp-block-gallery.columns-2 .blocks-gallery-image:nth-of-type(2n),.wp-block-gallery.columns-2 .blocks-gallery-item:nth-of-type(2n){margin-right:0}.blocks-gallery-grid.columns-3 .blocks-gallery-image:nth-of-type(3n),.blocks-gallery-grid.columns-3 .blocks-gallery-item:nth-of-type(3n),.wp-block-gallery.columns-3 .blocks-gallery-image:nth-of-type(3n),.wp-block-gallery.columns-3 .blocks-gallery-item:nth-of-type(3n){margin-right:0}.blocks-gallery-grid.columns-4 .blocks-gallery-image:nth-of-type(4n),.blocks-gallery-grid.columns-4 .blocks-gallery-item:nth-of-type(4n),.wp-block-gallery.columns-4 .blocks-gallery-image:nth-of-type(4n),.wp-block-gallery.columns-4 .blocks-gallery-item:nth-of-type(4n){margin-right:0}.blocks-gallery-grid.columns-5 .blocks-gallery-image:nth-of-type(5n),.blocks-gallery-grid.columns-5 .blocks-gallery-item:nth-of-type(5n),.wp-block-gallery.columns-5 .blocks-gallery-image:nth-of-type(5n),.wp-block-gallery.columns-5 .blocks-gallery-item:nth-of-type(5n){margin-right:0}.blocks-gallery-grid.columns-6 .blocks-gallery-image:nth-of-type(6n),.blocks-gallery-grid.columns-6 .blocks-gallery-item:nth-of-type(6n),.wp-block-gallery.columns-6 .blocks-gallery-image:nth-of-type(6n),.wp-block-gallery.columns-6 .blocks-gallery-item:nth-of-type(6n){margin-right:0}.blocks-gallery-grid.columns-7 .blocks-gallery-image:nth-of-type(7n),.blocks-gallery-grid.columns-7 .blocks-gallery-item:nth-of-type(7n),.wp-block-gallery.columns-7 .blocks-gallery-image:nth-of-type(7n),.wp-block-gallery.columns-7 .blocks-gallery-item:nth-of-type(7n){margin-right:0}.blocks-gallery-grid.columns-8 .blocks-gallery-image:nth-of-type(8n),.blocks-gallery-grid.columns-8 .blocks-gallery-item:nth-of-type(8n),.wp-block-gallery.columns-8 .blocks-gallery-image:nth-of-type(8n),.wp-block-gallery.columns-8 .blocks-gallery-item:nth-of-type(8n){margin-right:0}}.blocks-gallery-grid .blocks-gallery-image:last-child,.blocks-gallery-grid .blocks-gallery-item:last-child,.wp-block-gallery .blocks-gallery-image:last-child,.wp-block-gallery .blocks-gallery-item:last-child{margin-right:0}.blocks-gallery-grid.alignleft,.blocks-gallery-grid.alignright,.wp-block-gallery.alignleft,.wp-block-gallery.alignright{max-width:290px;width:100%}.blocks-gallery-grid.aligncenter .blocks-gallery-item figure,.wp-block-gallery.aligncenter .blocks-gallery-item figure{justify-content:center}h1.has-background,h2.has-background,h3.has-background,h4.has-background,h5.has-background,h6.has-background{padding:20px 38px}.wp-block-image{margin-bottom:1em}.wp-block-image img{max-width:100%}.wp-block-image.aligncenter{text-align:center}.wp-block-image.alignfull img,.wp-block-image.alignwide img{width:100%}.wp-block-image .aligncenter,.wp-block-image .alignleft,.wp-block-image .alignright,.wp-block-image.is-resized{display:table}.wp-block-image .aligncenter>figcaption,.wp-block-image .alignleft>figcaption,.wp-block-image .alignright>figcaption,.wp-block-image.is-resized>figcaption{display:table-caption;caption-side:bottom}.wp-block-image .alignleft{float:left;margin:.5em 1em .5em 0}.wp-block-image .alignright{float:right;margin:.5em 0 .5em 1em}.wp-block-image .aligncenter{margin-left:auto;margin-right:auto}.wp-block-image figcaption{margin-top:.5em;margin-bottom:1em}.is-style-circle-mask img,.is-style-rounded img{border-radius:9999px}@supports ((-webkit-mask-image:none) or (mask-image:none)) or (-webkit-mask-image:none){.is-style-circle-mask img{-webkit-mask-image:url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"/></svg>');mask-image:url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"/></svg>');mask-mode:alpha;-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;-webkit-mask-size:contain;mask-size:contain;-webkit-mask-position:center;mask-position:center;border-radius:0}}.wp-block-latest-comments__comment{font-size:15px;line-height:1.1;list-style:none;margin-bottom:1em}.has-avatars .wp-block-latest-comments__comment{min-height:36px;list-style:none}.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt,.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta{margin-left:52px}.has-dates .wp-block-latest-comments__comment,.has-excerpts .wp-block-latest-comments__comment{line-height:1.5}.wp-block-latest-comments__comment-excerpt p{font-size:14px;line-height:1.8;margin:5px 0 20px}.wp-block-latest-comments__comment-date{color:#8f98a1;display:block;font-size:12px}.wp-block-latest-comments .avatar,.wp-block-latest-comments__comment-avatar{border-radius:24px;display:block;float:left;height:40px;margin-right:12px;width:40px}.wp-block-latest-posts.alignleft{margin-right:2em}.wp-block-latest-posts.alignright{margin-left:2em}.wp-block-latest-posts.wp-block-latest-posts__list{list-style:none}.wp-block-latest-posts.wp-block-latest-posts__list li{clear:both}.wp-block-latest-posts.is-grid{display:flex;flex-wrap:wrap;padding:0}.wp-block-latest-posts.is-grid li{margin:0 20px 20px 0;width:100%}@media (min-width:600px){.wp-block-latest-posts.columns-2 li{width:calc(50% - 20px)}.wp-block-latest-posts.columns-3 li{width:calc(33.33333% - 20px)}.wp-block-latest-posts.columns-4 li{width:calc(25% - 20px)}.wp-block-latest-posts.columns-5 li{width:calc(20% - 20px)}.wp-block-latest-posts.columns-6 li{width:calc(16.66667% - 20px)}}.wp-block-latest-posts__post-author,.wp-block-latest-posts__post-date{display:block;color:#6c7781;font-size:13px}.wp-block-latest-posts__post-excerpt{margin-top:8px;margin-bottom:16px}.wp-block-latest-posts__featured-image img{height:auto;width:auto}.wp-block-latest-posts__featured-image.alignleft{margin-right:1em}.wp-block-latest-posts__featured-image.alignright{margin-left:1em}.wp-block-latest-posts__featured-image.aligncenter{margin-bottom:1em;text-align:center}.edit-post-visual-editor .wp-block-latest-posts.is-grid li{margin-bottom:20px}.wp-block-media-text{
  /*!rtl:begin:ignore*/direction:ltr;
  /*!rtl:end:ignore*/display:-ms-grid;display:grid;-ms-grid-columns:50% 1fr;grid-template-columns:50% 1fr;-ms-grid-rows:auto;grid-template-rows:auto}.wp-block-media-text.has-media-on-the-right{-ms-grid-columns:1fr 50%;grid-template-columns:1fr 50%}.wp-block-media-text.is-vertically-aligned-top .wp-block-media-text__content,.wp-block-media-text.is-vertically-aligned-top .wp-block-media-text__media{-ms-grid-row-align:start;align-self:start}.wp-block-media-text.is-vertically-aligned-center .wp-block-media-text__content,.wp-block-media-text.is-vertically-aligned-center .wp-block-media-text__media,.wp-block-media-text .wp-block-media-text__content,.wp-block-media-text .wp-block-media-text__media{-ms-grid-row-align:center;align-self:center}.wp-block-media-text.is-vertically-aligned-bottom .wp-block-media-text__content,.wp-block-media-text.is-vertically-aligned-bottom .wp-block-media-text__media{-ms-grid-row-align:end;align-self:end}.wp-block-media-text .wp-block-media-text__media{
  /*!rtl:begin:ignore*/-ms-grid-column:1;grid-column:1;-ms-grid-row:1;grid-row:1;
  /*!rtl:end:ignore*/margin:0}.wp-block-media-text .wp-block-media-text__content{direction:ltr;
  /*!rtl:begin:ignore*/-ms-grid-column:2;grid-column:2;-ms-grid-row:1;grid-row:1;
  /*!rtl:end:ignore*/padding:0 8%;word-break:break-word}.wp-block-media-text.has-media-on-the-right .wp-block-media-text__media{
  /*!rtl:begin:ignore*/-ms-grid-column:2;grid-column:2;-ms-grid-row:1;grid-row:1
  /*!rtl:end:ignore*/}.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content{
  /*!rtl:begin:ignore*/-ms-grid-column:1;grid-column:1;-ms-grid-row:1;grid-row:1
  /*!rtl:end:ignore*/}.wp-block-media-text__media img,.wp-block-media-text__media video{max-width:unset;width:100%;vertical-align:middle}.wp-block-media-text.is-image-fill figure.wp-block-media-text__media{height:100%;min-height:250px;background-size:cover}.wp-block-media-text.is-image-fill figure.wp-block-media-text__media>img{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}@media (max-width:600px){.wp-block-media-text.is-stacked-on-mobile{-ms-grid-columns:100%!important;grid-template-columns:100%!important}.wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media{-ms-grid-column:1;grid-column:1;-ms-grid-row:1;grid-row:1}.wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__media,.wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content{-ms-grid-column:1;grid-column:1;-ms-grid-row:2;grid-row:2}.wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__content{-ms-grid-column:1;grid-column:1;-ms-grid-row:1;grid-row:1}}.wp-block-navigation.is-style-light .wp-block-navigation-link:not(.has-text-color),.wp-block-navigation .wp-block-navigation-link:not(.has-text-color){color:#1e1e1e}.wp-block-navigation.is-style-light:not(.has-background) .wp-block-navigation__container,.wp-block-navigation:not(.has-background) .wp-block-navigation__container{background-color:#fff}.wp-block-navigation.is-style-dark .wp-block-navigation-link:not(.has-text-color){color:#fff}.wp-block-navigation.is-style-dark:not(.has-background) .wp-block-navigation__container{background-color:#1e1e1e}.items-justified-left>ul{justify-content:flex-start}.items-justified-center>ul{justify-content:center}.items-justified-right>ul{justify-content:flex-end}.wp-block-navigation-link{display:flex;align-items:center;position:relative;margin:0}.wp-block-navigation-link .wp-block-navigation__container:empty{display:none}.wp-block-navigation__container{list-style:none;margin:0;padding-left:0;display:flex;flex-wrap:wrap}.is-vertical .wp-block-navigation__container{display:block}.has-child .wp-block-navigation__container{border:1px solid rgba(0,0,0,.15);background-color:inherit;color:inherit;position:absolute;left:0;top:100%;width:fit-content;z-index:1;opacity:0;transition:opacity .1s linear;visibility:hidden}.has-child .wp-block-navigation__container>.wp-block-navigation-link>.wp-block-navigation-link__content{flex-grow:1}.has-child .wp-block-navigation__container>.wp-block-navigation-link>.wp-block-navigation-link__submenu-icon{padding-right:8px}@media (min-width:782px){.has-child .wp-block-navigation__container{left:24px}.has-child .wp-block-navigation__container .wp-block-navigation__container{left:100%;top:-1px}.has-child .wp-block-navigation__container .wp-block-navigation__container:before{content:"";position:absolute;right:100%;height:100%;display:block;width:8px;background:transparent}.has-child .wp-block-navigation__container .wp-block-navigation-link__submenu-icon svg{transform:rotate(0)}}.has-child:hover{cursor:pointer}.has-child:hover>.wp-block-navigation__container{visibility:visible;opacity:1;display:flex;flex-direction:column}.has-child:focus-within{cursor:pointer}.has-child:focus-within>.wp-block-navigation__container{visibility:visible;opacity:1;display:flex;flex-direction:column}.wp-block-navigation-link__content{text-decoration:none;padding:8px 16px}.wp-block-navigation-link__content+.wp-block-navigation-link__content{padding-top:0}.has-text-color .wp-block-navigation-link__content{color:inherit}.wp-block-navigation-link__label{font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;word-break:normal;overflow-wrap:break-word}.wp-block-navigation-link__submenu-icon{height:inherit;padding:6px 16px}.wp-block-navigation-link__submenu-icon svg{fill:currentColor}@media (min-width:782px){.wp-block-navigation-link__submenu-icon svg{transform:rotate(90deg)}}.is-small-text{font-size:14px}.is-regular-text{font-size:16px}.is-large-text{font-size:36px}.is-larger-text{font-size:48px}.has-drop-cap:not(:focus):first-letter{float:left;font-size:8.4em;line-height:.68;font-weight:100;margin:.05em .1em 0 0;text-transform:uppercase;font-style:normal}p.has-background{padding:20px 38px}p.has-text-color a{color:inherit}.wp-block-post-author{display:flex;flex-wrap:wrap;line-height:1.5}.wp-block-post-author__byline{width:100%;margin-top:0;margin-bottom:0;font-size:.5em}.wp-block-post-author__avatar{margin-right:16px}.wp-block-post-author__bio{margin-bottom:8px;font-size:.7em}.wp-block-post-author__content{flex-grow:1;flex-basis:0}.wp-block-post-author__name{font-weight:700;margin:0}.wp-block-pullquote{padding:3em 0;margin-left:0;margin-right:0;text-align:center}.wp-block-pullquote.alignleft,.wp-block-pullquote.alignright{max-width:290px}.wp-block-pullquote.alignleft p,.wp-block-pullquote.alignright p{font-size:20px}.wp-block-pullquote p{font-size:28px;line-height:1.6}.wp-block-pullquote cite,.wp-block-pullquote footer{position:relative}.wp-block-pullquote .has-text-color a{color:inherit}.wp-block-pullquote:not(.is-style-solid-color){background:none}.wp-block-pullquote.is-style-solid-color{border:none}.wp-block-pullquote.is-style-solid-color blockquote{margin-left:auto;margin-right:auto;text-align:left;max-width:60%}.wp-block-pullquote.is-style-solid-color blockquote p{margin-top:0;margin-bottom:0;font-size:32px}.wp-block-pullquote.is-style-solid-color blockquote cite{text-transform:none;font-style:normal}.wp-block-pullquote cite{color:inherit}.wp-block-quote.is-large,.wp-block-quote.is-style-large{margin:0 0 16px;padding:0 1em}.wp-block-quote.is-large p,.wp-block-quote.is-style-large p{font-size:24px;font-style:italic;line-height:1.6}.wp-block-quote.is-large cite,.wp-block-quote.is-large footer,.wp-block-quote.is-style-large cite,.wp-block-quote.is-style-large footer{font-size:18px;text-align:right}.wp-block-rss.alignleft{margin-right:2em}.wp-block-rss.alignright{margin-left:2em}.wp-block-rss.is-grid{display:flex;flex-wrap:wrap;padding:0;list-style:none}.wp-block-rss.is-grid li{margin:0 16px 16px 0;width:100%}@media (min-width:600px){.wp-block-rss.columns-2 li{width:calc(50% - 16px)}.wp-block-rss.columns-3 li{width:calc(33.33333% - 16px)}.wp-block-rss.columns-4 li{width:calc(25% - 16px)}.wp-block-rss.columns-5 li{width:calc(20% - 16px)}.wp-block-rss.columns-6 li{width:calc(16.66667% - 16px)}}.wp-block-rss__item-author,.wp-block-rss__item-publish-date{display:block;color:#6c7781;font-size:13px}.wp-block-search{display:flex;flex-wrap:wrap}.wp-block-search .wp-block-search__label{width:100%}.wp-block-search .wp-block-search__input{flex-grow:1;max-width:360px}.wp-block-search .wp-block-search__button{margin-left:10px}.wp-block-separator.is-style-wide{border-bottom-width:1px}.wp-block-separator.is-style-dots{background:none!important;border:none;text-align:center;max-width:none;line-height:1;height:auto}.wp-block-separator.is-style-dots:before{content:"\00b7 \00b7 \00b7";color:currentColor;font-size:20px;letter-spacing:2em;padding-left:2em;font-family:serif}.wp-block-social-links{display:flex;justify-content:flex-start;padding-left:0;padding-right:0;margin-left:0}.wp-block-social-links .wp-social-link a,.wp-block-social-links .wp-social-link a:hover{text-decoration:none;border-bottom:0;box-shadow:none}.wp-social-link{display:block;width:36px;height:36px;border-radius:36px;margin-right:8px;transition:transform .1s ease}@media (prefers-reduced-motion:reduce){.wp-social-link{transition-duration:0s}}.wp-social-link a{padding:6px;display:block;line-height:0;transition:transform .1s ease}.wp-social-link a,.wp-social-link a:active,.wp-social-link a:hover,.wp-social-link a:visited,.wp-social-link svg{color:currentColor;fill:currentColor}.wp-social-link:hover{transform:scale(1.1)}.wp-block-social-links.aligncenter{justify-content:center;display:flex}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link{background-color:#f0f0f0;color:#444}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-amazon{background-color:#f90;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-bandcamp{background-color:#1ea0c3;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-behance{background-color:#0757fe;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-codepen{background-color:#1e1f26;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-deviantart{background-color:#02e49b;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-dribbble{background-color:#e94c89;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-dropbox{background-color:#4280ff;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-etsy{background-color:#f45800;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-facebook{background-color:#1778f2;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-fivehundredpx{background-color:#000;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-flickr{background-color:#0461dd;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-foursquare{background-color:#e65678;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-github{background-color:#24292d;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-goodreads{background-color:#eceadd;color:#382110}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-google{background-color:#ea4434;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-instagram{background-color:#f00075;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-lastfm{background-color:#e21b24;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-linkedin{background-color:#0d66c2;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-mastodon{background-color:#3288d4;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-medium{background-color:#02ab6c;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-meetup{background-color:#f6405f;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-pinterest{background-color:#e60122;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-pocket{background-color:#ef4155;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-reddit{background-color:#fe4500;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-skype{background-color:#0478d7;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-snapchat{background-color:#fefc00;color:#fff;stroke:#000}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-soundcloud{background-color:#ff5600;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-spotify{background-color:#1bd760;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-tumblr{background-color:#011835;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-twitch{background-color:#6440a4;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-twitter{background-color:#1da1f2;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-vimeo{background-color:#1eb7ea;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-vk{background-color:#4680c2;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-wordpress{background-color:#3499cd;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-yelp{background-color:#d32422;color:#fff}.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-youtube{background-color:red;color:#fff}.wp-block-social-links.is-style-logos-only .wp-social-link{background:none;padding:4px}.wp-block-social-links.is-style-logos-only .wp-social-link svg{width:28px;height:28px}.wp-block-social-links.is-style-logos-only .wp-social-link-amazon{color:#f90}.wp-block-social-links.is-style-logos-only .wp-social-link-bandcamp{color:#1ea0c3}.wp-block-social-links.is-style-logos-only .wp-social-link-behance{color:#0757fe}.wp-block-social-links.is-style-logos-only .wp-social-link-codepen{color:#1e1f26}.wp-block-social-links.is-style-logos-only .wp-social-link-deviantart{color:#02e49b}.wp-block-social-links.is-style-logos-only .wp-social-link-dribbble{color:#e94c89}.wp-block-social-links.is-style-logos-only .wp-social-link-dropbox{color:#4280ff}.wp-block-social-links.is-style-logos-only .wp-social-link-etsy{color:#f45800}.wp-block-social-links.is-style-logos-only .wp-social-link-facebook{color:#1778f2}.wp-block-social-links.is-style-logos-only .wp-social-link-fivehundredpx{color:#000}.wp-block-social-links.is-style-logos-only .wp-social-link-flickr{color:#0461dd}.wp-block-social-links.is-style-logos-only .wp-social-link-foursquare{color:#e65678}.wp-block-social-links.is-style-logos-only .wp-social-link-github{color:#24292d}.wp-block-social-links.is-style-logos-only .wp-social-link-goodreads{color:#382110}.wp-block-social-links.is-style-logos-only .wp-social-link-google{color:#ea4434}.wp-block-social-links.is-style-logos-only .wp-social-link-instagram{color:#f00075}.wp-block-social-links.is-style-logos-only .wp-social-link-lastfm{color:#e21b24}.wp-block-social-links.is-style-logos-only .wp-social-link-linkedin{color:#0d66c2}.wp-block-social-links.is-style-logos-only .wp-social-link-mastodon{color:#3288d4}.wp-block-social-links.is-style-logos-only .wp-social-link-medium{color:#02ab6c}.wp-block-social-links.is-style-logos-only .wp-social-link-meetup{color:#f6405f}.wp-block-social-links.is-style-logos-only .wp-social-link-pinterest{color:#e60122}.wp-block-social-links.is-style-logos-only .wp-social-link-pocket{color:#ef4155}.wp-block-social-links.is-style-logos-only .wp-social-link-reddit{color:#fe4500}.wp-block-social-links.is-style-logos-only .wp-social-link-skype{color:#0478d7}.wp-block-social-links.is-style-logos-only .wp-social-link-snapchat{color:#fff;stroke:#000}.wp-block-social-links.is-style-logos-only .wp-social-link-soundcloud{color:#ff5600}.wp-block-social-links.is-style-logos-only .wp-social-link-spotify{color:#1bd760}.wp-block-social-links.is-style-logos-only .wp-social-link-tumblr{color:#011835}.wp-block-social-links.is-style-logos-only .wp-social-link-twitch{color:#6440a4}.wp-block-social-links.is-style-logos-only .wp-social-link-twitter{color:#1da1f2}.wp-block-social-links.is-style-logos-only .wp-social-link-vimeo{color:#1eb7ea}.wp-block-social-links.is-style-logos-only .wp-social-link-vk{color:#4680c2}.wp-block-social-links.is-style-logos-only .wp-social-link-wordpress{color:#3499cd}.wp-block-social-links.is-style-logos-only .wp-social-link-yelp{background-color:#d32422;color:#fff}.wp-block-social-links.is-style-logos-only .wp-social-link-youtube{color:red}.wp-block-social-links.is-style-pill-shape .wp-social-link{width:auto}.wp-block-social-links.is-style-pill-shape .wp-social-link a{padding-left:16px;padding-right:16px}.wp-block-spacer{clear:both}p.wp-block-subhead{font-size:1.1em;font-style:italic;opacity:.75}.wp-block-table{overflow-x:auto}.wp-block-table table{width:100%}.wp-block-table .has-fixed-layout{table-layout:fixed;width:100%}.wp-block-table .has-fixed-layout td,.wp-block-table .has-fixed-layout th{word-break:break-word}.wp-block-table.aligncenter,.wp-block-table.alignleft,.wp-block-table.alignright{display:table;width:auto}.wp-block-table.aligncenter td,.wp-block-table.aligncenter th,.wp-block-table.alignleft td,.wp-block-table.alignleft th,.wp-block-table.alignright td,.wp-block-table.alignright th{word-break:break-word}.wp-block-table .has-subtle-light-gray-background-color{background-color:#f3f4f5}.wp-block-table .has-subtle-pale-green-background-color{background-color:#e9fbe5}.wp-block-table .has-subtle-pale-blue-background-color{background-color:#e7f5fe}.wp-block-table .has-subtle-pale-pink-background-color{background-color:#fcf0ef}.wp-block-table.is-style-stripes{border-spacing:0;border-collapse:inherit;background-color:transparent;border-bottom:1px solid #f0f0f0}.wp-block-table.is-style-stripes tbody tr:nth-child(odd){background-color:#f0f0f0}.wp-block-table.is-style-stripes.has-subtle-light-gray-background-color tbody tr:nth-child(odd){background-color:#f3f4f5}.wp-block-table.is-style-stripes.has-subtle-pale-green-background-color tbody tr:nth-child(odd){background-color:#e9fbe5}.wp-block-table.is-style-stripes.has-subtle-pale-blue-background-color tbody tr:nth-child(odd){background-color:#e7f5fe}.wp-block-table.is-style-stripes.has-subtle-pale-pink-background-color tbody tr:nth-child(odd){background-color:#fcf0ef}.wp-block-table.is-style-stripes td,.wp-block-table.is-style-stripes th{border-color:transparent}.wp-block-text-columns,.wp-block-text-columns.aligncenter{display:flex}.wp-block-text-columns .wp-block-column{margin:0 16px;padding:0}.wp-block-text-columns .wp-block-column:first-child{margin-left:0}.wp-block-text-columns .wp-block-column:last-child{margin-right:0}.wp-block-text-columns.columns-2 .wp-block-column{width:50%}.wp-block-text-columns.columns-3 .wp-block-column{width:33.33333%}.wp-block-text-columns.columns-4 .wp-block-column{width:25%}.wp-block-video{margin-left:0;margin-right:0}.wp-block-video video{max-width:100%}@supports ((position:-webkit-sticky) or (position:sticky)){.wp-block-video [poster]{object-fit:cover}}.wp-block-video.aligncenter{text-align:center}.wp-block-video figcaption{margin-top:.5em;margin-bottom:1em}:root .editor-styles-wrapper .has-pale-pink-background-color,:root .has-pale-pink-background-color{background-color:#f78da7}:root .editor-styles-wrapper .has-vivid-red-background-color,:root .has-vivid-red-background-color{background-color:#cf2e2e}:root .editor-styles-wrapper .has-luminous-vivid-orange-background-color,:root .has-luminous-vivid-orange-background-color{background-color:#ff6900}:root .editor-styles-wrapper .has-luminous-vivid-amber-background-color,:root .has-luminous-vivid-amber-background-color{background-color:#fcb900}:root .editor-styles-wrapper .has-light-green-cyan-background-color,:root .has-light-green-cyan-background-color{background-color:#7bdcb5}:root .editor-styles-wrapper .has-vivid-green-cyan-background-color,:root .has-vivid-green-cyan-background-color{background-color:#00d084}:root .editor-styles-wrapper .has-pale-cyan-blue-background-color,:root .has-pale-cyan-blue-background-color{background-color:#8ed1fc}:root .editor-styles-wrapper .has-vivid-cyan-blue-background-color,:root .has-vivid-cyan-blue-background-color{background-color:#0693e3}:root .editor-styles-wrapper .has-vivid-purple-background-color,:root .has-vivid-purple-background-color{background-color:#9b51e0}:root .editor-styles-wrapper .has-white-background-color,:root .has-white-background-color{background-color:#fff}:root .editor-styles-wrapper .has-very-light-gray-background-color,:root .has-very-light-gray-background-color{background-color:#eee}:root .editor-styles-wrapper .has-cyan-bluish-gray-background-color,:root .has-cyan-bluish-gray-background-color{background-color:#abb8c3}:root .editor-styles-wrapper .has-very-dark-gray-background-color,:root .has-very-dark-gray-background-color{background-color:#313131}:root .editor-styles-wrapper .has-black-background-color,:root .has-black-background-color{background-color:#000}:root .editor-styles-wrapper .has-pale-pink-color,:root .has-pale-pink-color{color:#f78da7}:root .editor-styles-wrapper .has-vivid-red-color,:root .has-vivid-red-color{color:#cf2e2e}:root .editor-styles-wrapper .has-luminous-vivid-orange-color,:root .has-luminous-vivid-orange-color{color:#ff6900}:root .editor-styles-wrapper .has-luminous-vivid-amber-color,:root .has-luminous-vivid-amber-color{color:#fcb900}:root .editor-styles-wrapper .has-light-green-cyan-color,:root .has-light-green-cyan-color{color:#7bdcb5}:root .editor-styles-wrapper .has-vivid-green-cyan-color,:root .has-vivid-green-cyan-color{color:#00d084}:root .editor-styles-wrapper .has-pale-cyan-blue-color,:root .has-pale-cyan-blue-color{color:#8ed1fc}:root .editor-styles-wrapper .has-vivid-cyan-blue-color,:root .has-vivid-cyan-blue-color{color:#0693e3}:root .editor-styles-wrapper .has-vivid-purple-color,:root .has-vivid-purple-color{color:#9b51e0}:root .editor-styles-wrapper .has-white-color,:root .has-white-color{color:#fff}:root .editor-styles-wrapper .has-very-light-gray-color,:root .has-very-light-gray-color{color:#eee}:root .editor-styles-wrapper .has-cyan-bluish-gray-color,:root .has-cyan-bluish-gray-color{color:#abb8c3}:root .editor-styles-wrapper .has-very-dark-gray-color,:root .has-very-dark-gray-color{color:#313131}:root .editor-styles-wrapper .has-black-color,:root .has-black-color{color:#000}:root .editor-styles-wrapper .has-vivid-cyan-blue-to-vivid-purple-gradient-background,:root .has-vivid-cyan-blue-to-vivid-purple-gradient-background{background:linear-gradient(135deg,#0693e3,#9b51e0)}:root .editor-styles-wrapper .has-vivid-green-cyan-to-vivid-cyan-blue-gradient-background,:root .has-vivid-green-cyan-to-vivid-cyan-blue-gradient-background{background:linear-gradient(135deg,#00d084,#0693e3)}:root .editor-styles-wrapper .has-light-green-cyan-to-vivid-green-cyan-gradient-background,:root .has-light-green-cyan-to-vivid-green-cyan-gradient-background{background:linear-gradient(135deg,#7adcb4,#00d082)}:root .editor-styles-wrapper .has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background,:root .has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background{background:linear-gradient(135deg,#fcb900,#ff6900)}:root .editor-styles-wrapper .has-luminous-vivid-orange-to-vivid-red-gradient-background,:root .has-luminous-vivid-orange-to-vivid-red-gradient-background{background:linear-gradient(135deg,#ff6900,#cf2e2e)}:root .editor-styles-wrapper .has-very-light-gray-to-cyan-bluish-gray-gradient-background,:root .has-very-light-gray-to-cyan-bluish-gray-gradient-background{background:linear-gradient(135deg,#eee,#a9b8c3)}:root .editor-styles-wrapper .has-cool-to-warm-spectrum-gradient-background,:root .has-cool-to-warm-spectrum-gradient-background{background:linear-gradient(135deg,#4aeadc,#9778d1 20%,#cf2aba 40%,#ee2c82 60%,#fb6962 80%,#fef84c)}:root .editor-styles-wrapper .has-blush-light-purple-gradient-background,:root .has-blush-light-purple-gradient-background{background:linear-gradient(135deg,#ffceec,#9896f0)}:root .editor-styles-wrapper .has-blush-bordeaux-gradient-background,:root .has-blush-bordeaux-gradient-background{background:linear-gradient(135deg,#fecda5,#fe2d2d 50%,#6b003e)}:root .editor-styles-wrapper .has-purple-crush-gradient-background,:root .has-purple-crush-gradient-background{background:linear-gradient(135deg,#34e2e4,#4721fb 50%,#ab1dfe)}:root .editor-styles-wrapper .has-luminous-dusk-gradient-background,:root .has-luminous-dusk-gradient-background{background:linear-gradient(135deg,#ffcb70,#c751c0 50%,#4158d0)}:root .editor-styles-wrapper .has-hazy-dawn-gradient-background,:root .has-hazy-dawn-gradient-background{background:linear-gradient(135deg,#faaca8,#dad0ec)}:root .editor-styles-wrapper .has-pale-ocean-gradient-background,:root .has-pale-ocean-gradient-background{background:linear-gradient(135deg,#fff5cb,#b6e3d4 50%,#33a7b5)}:root .editor-styles-wrapper .has-electric-grass-gradient-background,:root .has-electric-grass-gradient-background{background:linear-gradient(135deg,#caf880,#71ce7e)}:root .editor-styles-wrapper .has-subdued-olive-gradient-background,:root .has-subdued-olive-gradient-background{background:linear-gradient(135deg,#fafae1,#67a671)}:root .editor-styles-wrapper .has-atomic-cream-gradient-background,:root .has-atomic-cream-gradient-background{background:linear-gradient(135deg,#fdd79a,#004a59)}:root .editor-styles-wrapper .has-nightshade-gradient-background,:root .has-nightshade-gradient-background{background:linear-gradient(135deg,#330968,#31cdcf)}:root .editor-styles-wrapper .has-midnight-gradient-background,:root .has-midnight-gradient-background{background:linear-gradient(135deg,#020381,#2874fc)}:root .editor-styles-wrapper .has-link-color a,:root .has-link-color a{color:#00e;color:var(--wp--style--color--link,#00e)}.editor-styles-wrapper .has-small-font-size,.has-small-font-size{font-size:13px}.editor-styles-wrapper .has-normal-font-size,.editor-styles-wrapper .has-regular-font-size,.has-normal-font-size,.has-regular-font-size{font-size:16px}.editor-styles-wrapper .has-medium-font-size,.has-medium-font-size{font-size:20px}.editor-styles-wrapper .has-large-font-size,.has-large-font-size{font-size:36px}.editor-styles-wrapper .has-huge-font-size,.editor-styles-wrapper .has-larger-font-size,.has-huge-font-size,.has-larger-font-size{font-size:42px}.has-text-align-center{text-align:center}.has-text-align-left{text-align:left}.has-text-align-right{text-align:right}#end-resizable-editor-section{display:none}.aligncenter{clear:both}