<div id="custom_html-2" class="widget_text col pb-0 widget widget_custom_html"><div class="textwidget custom-html-widget"><h1 class="uppercase">LÂNĂ MERINOS</h1>
<p>Răsfață-te cu articole vestimentare lucrate manual dintr-o <b>fibră premium</b> care vine din natură, numită <b>Lână Merinos</b>,<br/> <b>cea mai fină și cea mai moale lână din lume.</b></p>
<h3>#madeinrosiamontana</h3></div></div>