<div id="mc4wp_form_widget-3" class="col pb-0 widget widget_mc4wp_form_widget"><span class="widget-title">Abonează-te la Newsletter și obține 10% REDUCERE</span><div class="is-divider small"></div><script>(function() {
	window.mc4wp = window.mc4wp || {
		listeners: [],
		forms: {
			on: function(evt, cb) {
				window.mc4wp.listeners.push(
					{
						event   : evt,
						callback: cb
					}
				);
			}
		}
	}
})();
</script><!-- Mailchimp for WordPress v4.8.1 - https://wordpress.org/plugins/mailchimp-for-wp/ --><form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-11404 mc4wp-ajax" method="post" data-id="11404" data-name="Abonează-te la Newsletter" ><div class="mc4wp-form-fields"><p>
	<input type="email" name="EMAIL" placeholder="E-mail" required />
</p>

<p>
	<input type="submit" value="SUBSCRIBE" />
</p></div><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></label><input type="hidden" name="_mc4wp_timestamp" value="1606902469" /><input type="hidden" name="_mc4wp_form_id" value="11404" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" /><div class="mc4wp-response"></div></form><!-- / Mailchimp for WordPress Plugin --></div>