#eh_billing_cardtype, #eh_billing_expdatemonth, #eh_billing_expdateyear{
box-sizing: border-box;
display: inline-block;
margin: 0;
position: relative;
box-sizing: border-box;
background-color: #fff;
border: 1px solid #aaaaaa6e;
border-radius: 4px;
display: block;
height: 36px;
margin: 0 0 -4px;
color: #43454b;
}
#eh_billing_expdatemonth, #eh_billing_expdateyear {
width:48%;
display: inline-block;
}
.eh_billing_credircard_number, .eh_billing_ccvnumber{
background-color: #fff !important;
border: 1px solid #aaaaaa6e !important;
border-radius: 4px !important;
height: 36px;
}